div {
    /* border: red solid 1px; */
    margin: 25px 0px;
    background-color: cornsilk;
}

#startGameContainer {
    height: 400px;
    margin-top: 100px;
    position: relative;
}

p {
    position: absolute;
    top: 50%;
}

body {
    background-image: url("../images/comicBackground.jpg")
}

#triviaContainer {
    height: 500px;;
}

h1 {
    position: absolute;
    top: 45%
}

#timeLeft {
    color: red;
    font-weight: bold;
    font-size: 20pt
}

.question {
    font-size: 24pt
}

.btn {
    font-size: 20pt
}

#row2 {
    margin-top: 70px;
}

#correctAnswer {
    font-weight: 22pt;
}

#answer {
    font-weight: 20pt;
}