div {
    /* border: red solid 1px; */
    margin: 25px 0px;
    background-color: cornsilk;
}

#startGameContainer {
    height: 400px;
    margin-top: 100px;
    position: relative;
}

p {
    position: absolute;
    top: 50%
}

body {
    background-image: url("../images/comicBackground.jpg")
}

#triviaContainer {
    height: 500px;;
}